extends layout

block content
  .container-fluid
    header
      .menu
        h1= title        
        input(type="button" class="btn btn-link" onclick="location.href='/contact'" value="Contact Us")
        input(type="button" class="btn btn-link" onclick="location.href='/commu'" value="Community")
        input(type="button" class="btn btn-link" onclick="location.href='/calendar'" value="Calendar")
        input(type="button" class="btn btn-link" onclick="location.href='/'" value="Home")
    div(class="clearfix")
    .information
      .from-group
        h1 MySis
        p แหล่งรวมเรื่อง กีๆ และ sex!!
        p ครบจบในที่เดียว 
        p ขอคำปรึกษาและพูดคุยกับ Mysis ได้ที่นี่
        br 
        img(src="https://sv1.picz.in.th/images/2022/11/07/vulPPn.png" width="290" height="290")      
      .from-group1
        text เรื่องกีเรื่องเซ็กเป็นเรื่องธรรมชาติอย่ากลัวที่จะพูดถึง
      .from-group2
        text เธอไม่ใช่คนเดียวที่มีปัญหาหรอกนะ
      .from-group3
        text ไม่รู้จะคุยเรื่องนี้กับใครมาจอยที่คอมมูนิตี้ของเราสิ
      .from-group4
        text ก่อนจะชั๊วะเช็คให้ชัวก่อน